<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
        Página não encontrada {% if nome_site %}- {{ nome_site }} {% endif %}
    </title>
    <link href="/static/paginas-padrao/paginas_erros.css" rel="stylesheet">
    <link href="/static/paginas-padrao/404.css" rel="stylesheet">
  </head>

  <body>
    <div class="container-msgs-erros msg-404">
      <span class="msg-erro" id="erros">404</span>
      <span class="msg-erro">Página não encontrada</span>
    </div>

    <div class="container-msg-erro-aviso msg-404">
      <span class="msg-erro-aviso">Desculpe, nós não conseguimos encontrar a página que você está procurando.</span>
    </div>

    <div class="container-links">
      <a href="http://{{ site_url }}">Página Principal</a>
      {% if contato_url %}
        - <a href="http://{{ site_url }}{{ contato_url }}">Contato</a>
      {% endif %}
    </div>
  </body>
</html>
