<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
        Erro interno de servidor {% if nome_site %}- {{ nome_site }} {% endif %}
    </title>
    <link href="/static/paginas-padrao/paginas_erros.css" rel="stylesheet">
    <link href="/static/paginas-padrao/500.css" rel="stylesheet">
  </head>

  <body>
    <div class="container-msgs-erro msg-500">
      <span class="msg-erro" id="erros">500</span>
      <span class="msg-erro">Erro de Servidor</span>
    </div>

    <div class="container-msg-erro-aviso msg-500">
      <span class="msg-erro-aviso">Parece que algo deu errado.</span>
      <p class="msg-erro-aviso">Por favor, tente novamente mais tarde ou entre em contato.</p>
    </div>

    <div class="container-links">
      <a href="http://{{ site_url }}">Página Principal</a>
      {% if email_contato %}
        - <a href="mailto:{{ email_contato }}">Contato</a>
      {% endif %}
    </div>
  </body>
</html>
