{% extends "master_administracao_site.html" %}
{% block extrahead %}
{% endblock %}
{% block conteudo %}
<h1>Bem-vindo a administracao do site {{ site.dominio }}</h1>
<br/><br/><br/>
<h3>Aqui sera possivel controlar o conteudo que aparece em seu site.<br/><br/>
Selecione ao lado a pagina desejada, e altere os valores conforme desejado.<br/><br/><br/><br/>
Para sair, clique sobre seu nome, no topo direito da pagina, e apos clique em "Sair".
</h3>

{% endblock conteudo %}
