{% extends "master_administracao_site.html" %}
{% block conteudo %}
<div class="row-fluid">
    <h1>Voce realmente deseja apagar este registro?</h1>
    <br/><br/><br/>
    <form action="." method="POST">
        <input name="decisao" type="submit" value="Sim" class="btn btn-danger btn-large">
        <input name="decisao" type="submit" value="Nao" class="btn btn-primary btn-large">
    </form>
</div>
{% endblock conteudo %}
