{% extends "administracao_site.html" %}
{% block extrahead %}
    {{ aba_conteudos.form.media }}
{% endblock %}
{% block conteudo %}
<div class="row-fluid">
    <div class="page-header">
        <h1 style="height: 60px;margin-top: 30px;">Alterar o conteudo da pagina {{ pagina.url }}</h1>
    </div>
    {% include "messages.html" %}
    <form action="." method="post">{% csrf_token %}
        <div class="well span12">
            <table>
                {{ aba_conteudos.form.as_table }}
            </table>
        </div>
        <input type="submit" value="Salvar" class="btn btn-success btn-large pull-right">
    <form>
</div>
{% endblock %}
