{% extends "administracao_site.html" %}
{% block extrahead %}
    {{ form.media }}
{% endblock %}
{% block conteudo %}
<div class="row-fluid">
    <h1 style="height: 60px;margin-top: 30px;margin-bottom: 50px;">{{ item_pagina.nome_plural }} da pagina {{ pagina.url }} - Preencha os dados</h1>
    <hr>
                <div class="row-fluid form-wrapper">
                    <div class="span12 column">   
                      <form action="." method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
                        <table>
                        <tbody>
                        {{ form.as_table }}
                        </table>
                        <hr>
                        <input type="submit" value="Salvar" class="btn btn-success">
                      <form>
                    </div>
                </div>
</div>
{% endblock %}

