{% extends "administracao_site.html" %}
{% load dk_tags %}
{% block conteudo %}
<div class="row-fluid">
    <h1 style="height: 60px;margin-top: 30px;">{{ item_pagina.nome_plural }} da pagina {{ pagina.url }}</h1>
    <hr>
    {% include "messages.html" %}
    <br/>
    <a class="btn btn-success" href="novo/">Adicionar Novo</a><br/><br/>

    <table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            {% for i in cabecalho %}
                <th>{{ i.nome }}</th>
            {% endfor %}
            <th>Editar</th>
            <th>Apagar</th>
        </tr>
    </thead>
    <tbody>
        {% for i in instancias %}
            <tr>
                {% for i in i.valoratributoinstanciaitempagina_set.all %}
                {% if i.atributo_item_pagina.tipo == 6 %}
                <td>{% if i.valor %}
                    <a href="{{ i.valor|get_static_absolute_url }}"><img src="{{ i.valor|get_static_absolute_url }}" style="max-height:80px;max-with:80px;"/></a>{% endif %}</td>
                {% else %}
                    <td>{% if i.valor %}{{ i.valor }}{% endif %}</td>
                {% endif %}
                {% endfor %}
                <td>
                   <a class="btn btn-success pull-right" href="{{ i.pk }}/" style="margin-left:5px;">Editar</a>
                </td>
                <td>
                   <a class="btn btn-danger pull-right" href="{{ i.pk }}/apagar/">Apagar</a>
                </td>
            </tr>
        {% empty %}
          <td>Ainda nao foram cadastrados {{ item_pagina.nome_plural }}. Clique em "Adicionar Novo" para criar o primeiro.</td>
        {% endfor %}
    </tbody>
    </table>
</div>    
{% endblock %}
