<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
        Autenticação - {{ nome_site }}
    </title>

    <link href="/static/paginas-padrao/bootstrap.css" rel="stylesheet">
    <link href="/static/paginas-padrao/login.css" rel="stylesheet">
  </head>

  <body>

    <div class="container well">

      {% if form.errors %}
        <div class="alert alert-danger">
            Usuário e senha não conferem. Por favor tente novamente.
        </div>
      {% endif %}

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
              {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <h2 class="form-signin-heading">
          Administração - {{ nome_site }}
      </h2>

      <form class="form-signin" method="post" action="{% url "dk.principal.views.login" %}">

          {% csrf_token %}

          {{ form.username }}
          {{ form.password }}

          <p class="esqueceu-senha">
              <a href="{% url "dk.principal.views.recuperacao_senha" %}">
                  Esqueceu sua senha?
              </a>
          </p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>

      </form>

    </div>

  </body>
</html>
