<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <title>Administração do Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/administracao-site/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="http://wbpreview.com/previews/WB09SG9DS/css/icon-style.css">
    <!--[if lte IE 7]>
    <script src="../scripts/lte-ie7.js"></script>
    <![endif]-->
    <link href="/static/administracao-site/css/bootstrap.css" rel="stylesheet">
    <link href="/static/administracao-site/css/radmin.css" rel="stylesheet">
    <link href="/static/administracao-site/css/radmin-responsive.css" rel="stylesheet">

    <script type="text/javascript" src="/static/administracao-site/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/administracao-site/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/administracao-site/js/jquery.cloneposition.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if lte IE 9]>
    <script src="scripts/placeholder.js" type="text/javascript"></script>
    <![endif]-->
    <script type="text/javascript" src="/static/administracao-site/js/theme.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/administracao-site/css/radmin-plugins.css">
    {% block extrahead %}
    {% endblock %}
</head>
<body id="body-index" style="zoom: 1;">
<div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner black-gradient">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/administracao-do-site/">
                    <span class="rad">Administracao do Site {{ site.nome }}
                </a>
                <div class="nav-collapse collapse">
                    <p class="navbar-text pull-right">
                        <a id="user-popover" href="http://wbpreview.com/previews/WB09SG9DS/#" class="navbar-link user-info" data-original-title=""> <i class="icon-user icon-white"></i>
                            {{ user.get_full_name }}
                        </a>
                        <a href="{% url "dk.principal.views.logout" %}" class="btn btn-mini btn-inverse navbar-link logout"> <i class="icon-lock icon-white"></i>
                            Sair
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">&nbsp;</div>
    </div>

    

    <div class="container-fluid main-container">

        <div class="row-fluid">
            <div class="span12">

            <div class="sidebar-nav">
                    <ul class="nav nav-stacked left-menu">
                        <li id="navigation-index">
                            <a href="/administracao-do-site/">
                                <span class="box">
                                    <i class="icon-home"></i>
                                </span>
                                <span class="hidden-tablet hidden-phone">Painel Administ.</span>
                            </a>
                        </li>
                        {% for pg in paginas %}
                        {% if pg.conteudos.count > 0 %}
                        <li class="accordion" id="collapse_{{pg.pk}}">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#collapse_{{pg.pk}}" href="#collapse{{pg.pk}}">
                                    <span class="box">
                                        <i class="icon-file"></i>
                                    </span>
                                    <span class="hidden-tablet hidden-phone">{{ pg.nome }}</span>
                                    <span class="label pull-right hidden-tablet hidden-phone">{{ pg.quantos_itens|add:"1" }}</span>
                                </a>
                                <div id="collapse{{pg.pk}}" class="accordion-body collapse{% if pg.pk == pagina.pk %} in{% endif %}"{% if pg.pk == pagina.pk %} style="height: auto;"{% endif %}>
                                    <ul class="nav nav-stacked submenu">
                                           <li>
                                               <a href="/administracao-do-site/paginas/{{pg.pk}}/">
                                                   <span class="box">
                                                       <i class="radmin-icon radmin-user"></i>
                                                   </span>
                                                   <span class="hidden-tablet hidden-phone">Conteúdo da Página</span>
                                               </a>
                                           </li>
                                        {% for itpg in pg.itempagina_set.all %}
                                            <li{% if forloop.last %} class="submenu-last"{% endif %}>
                                                <a href="/administracao-do-site/paginas/{{pg.pk}}/itens/{{itpg.pk}}/">
                                                    <span class="box">
                                                        <i class="radmin-icon radmin-user"></i>
                                                    </span>
                                                    <span class="hidden-tablet hidden-phone">{{ itpg.nome_plural }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="container-fluid content-wrapper">
                    {% block conteudo %}
                    {% endblock %}
    </body>
</html>
