<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recuperação de Senha - {{ nome_site }}</title>

    <link href="/static/paginas-padrao/bootstrap.css" rel="stylesheet">
    <link href="/static/paginas-padrao/recuperacao_senha_concluida.css" rel="stylesheet">
  </head>

  <body>

    <div class="container well">

      <h3>Instruções enviadas com sucesso</h3>

      <h4>
        As instruções para definição de sua senha foram enviadas ao endereço de email fornecido. Você receberá a mensagem em breve. Caso ocorra demora no envio do e-mail verifique sua caixa de spam.
      </h4>

      <span>
        <a href="{% url "dk.principal.views.login" %}">Voltar ao login</a>
        <a href="{{ site_url }}">Acessar site</a>
      </span>

    </div>

  </body>
</html>

