<!DOCTYPE HTML>
<html>
    <head></head>
    <body>

        Um cliente entrou em contato com você através de seu site. <br><br>

        Nome: {{ nome }}<br>
        Telefone: {{ telefone }}<br>
        E-mail:
            {% if email != "NÃO INFORMADO" %}
                <a href="mailto:{{ email }}">{{email}}</a>
            {% else %}
                {{ email }}
            {% endif %}
            <br><br>
        Mensagem: <br>
        <strong> {{ mensagem }} </strong> <br><br>

    </body>
</html>
