body {
    background: url('../administracao-site/img/retina_wood.png');
    background-color: #EEEEEE;
    padding-bottom: 40px;
    padding-top: 40px;
}
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-signin-heading {
    margin-bottom: 10px;
}
.form-signin .a {
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: none;
}
.form-signin .esqueceu-senha {
    margin-bottom: 5px;
}
.form-signin-heading {
    text-align: center;
}
.well {
    padding: 30px;
}
.container {
    max-width: 80%;
}
.form-signin .form-control {
    -moz-box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
    /* WebKit */
    width: -webkit-calc(93%);
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

