body {
    background-color: #EEEEEE;
    padding-top: 5%;
    text-align: center;
}
.container-msgs-erro {
    text-align: center;
}
.msg-erro {
    display: block;
    float: none;
    font-family: Arial;
    font-size: 4.25em;
    font-weight: bold;
    padding: 0 25%;
    text-transform: uppercase;
    text-shadow: 3px 3px #D5D4DB;
}
#erros {
    font-size: 7em;
}
.container-msg-erro-aviso {
    left: 10%;
    position: fixed;
    top: 70%;
    width: 80%;
}
.msg-erro-aviso {
    float: none;
    font-family: Arial;
    font-size: 1.25em;
}
.container-links {
    border-top: 2px solid #D9D9D9;
    bottom: 5%;
    left: 20%;
    position: fixed;
    width: 60%;
}
a {
    color: #666666;
    padding: 0 5px;
    line-height: 50px;
    text-decoration: none;
    text-transform: capitalize;
}
a:hover {
    text-decoration: underline;
}
