body {
    background: url('../administracao-site/img/retina_wood.png');
    background-color: #EEEEEE;
    padding-bottom: 40px;
    padding-top: 40px;
}
h3, .h3 {
    font-size: 25px;
    margin-bottom: 20px;
}
h4, .h4 {
    font-size: 19px;
}
.well {
    padding: 30px;
}
.container {
    max-width: 80%;
}
.form-recuperacao-senha {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-recuperacao-senha .form-recuperacao-senha-heading {
    margin-bottom: 10px;
}
.form-recuperacao-senha .a {
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: none;
}
.mensagem-link-invalido {
    padding-top: 10px;
}
.form-recuperacao-senha-heading {
    text-align: center;
}
.form-recuperacao-senha .checkbox {
    font-weight: normal;
}
.form-recuperacao-senha .form-control {
    -moz-box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
    /* WebKit */
    width: -webkit-calc(93%);
}
.form-recuperacao-senha input[type="text"] {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
}
.form-recuperacao-senha input[name="new_password1"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-recuperacao-senha input[name="new_password2"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}
