body {
    background: url('../administracao-site/img/retina_wood.png');
    background-color: #EEEEEE;
    padding-bottom: 40px;
    padding-top: 40px;
}
.well {
    padding: 30px;
}
.container {
    max-width: 80%;
}
a:hover, a:focus {
    text-decoration: none;
}
p {
    padding-top: 10px;
}
