<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recuperação de Senha - {{ nome_site }}</title>

    <link href="/static/paginas-padrao/bootstrap.css" rel="stylesheet">
    <link href="/static/paginas-padrao/recuperacao_senha_concluida.css" rel="stylesheet">
  </head>

  <body>

    <div class="container well">

      <div class="alert alert-success">
        <strong>Instruções enviadas com sucesso</strong>
        <p>
          As instruções para definição de sua senha foram enviadas ao endereço de email fornecido. Você receberá a mensagem em breve. Caso ocorra demora no envio do e-mail, verifique sua caixa de spam.
        </p>
      </div>

      <a href="{% url "dk.principal.views.login" %}">
        <button class="btn btn-primary btn-sm" type="submit">Voltar ao login</button>
      </a>
      <a href="http://{{ site_url }}">
        <button class="btn btn-primary btn-sm" type="submit">Acessar {{ nome_site }}</button>
      </a>

    </div>

  </body>
</html>

