<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recuperação de Senha - {{ nome_site }}</title>

    <link href="/static/login/bootstrap.css" rel="stylesheet">
    <link href="/static/login/recuperacao_senha.css" rel="stylesheet">
  </head>

  <body>

    <div class="container well">

      {% if form.email.errors %}
        <div class="alert alert-danger">
            {{ form.email.errors|striptags }}
        </div>
      {% endif %}

    <h2 class="form-recuperacao-senha-heading">
        Recuperar Senha
    </h2>

    <form class="form-recuperacao-senha" method="post">

      {% csrf_token %}

      {{ form.email }}

      <button class="btn btn-lg btn-primary btn-block" type="submit"/>
          Enviar
      </button>

    </form>

    </div>

  </body>
</html>




