<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Redefinição de Senha - {{ nome_site }}</title>

    <link href="/static/login/bootstrap.css" rel="stylesheet">
    <link href="/static/login/recuperacao_senha.css" rel="stylesheet">
  </head>

  <body>

    <div class="container well">

      {% if token_valido %}

        {% if form.new_password1.errors or form.new_password2.errors %}
          <div class="alert alert-danger">
            {% if "obrigatório" in form.new_password1.errors|striptags and "obrigatório" in form.new_password2.errors|striptags %}
              <p>Os campos são obrigatórios.</p>
            {% else %}
              {% if form.new_password1.errors %}
                {% if "obrigatório" in form.new_password1.errors|striptags %}
                  <p>O campo "Informe sua nova senha" é obrigatório.</p>
                {% else %}
                  <p>{{ form.new_password1.errors|striptags }}</p>
                {% endif %}
              {% endif %}
              {% if form.new_password2.errors %}
                {% if "obrigatório" in form.new_password2.errors|striptags %}
                  <p>O campo "Informe sua nova senha novamente" é obrigatório.</p>
                {% else %}
                  <p>{{ form.new_password2.errors|striptags }}</p>
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        {% endif %}

        <h2 class="form-recuperacao-senha-heading">
          Insira a nova senha
        </h2>

        <form class="form-recuperacao-senha" method="post">

          {% csrf_token %}

          {{ form.new_password1 }}
          {{ form.new_password2 }}

          <button class="btn btn-lg btn-primary btn-block" type="submit"/>
            Alterar minha senha
          </button>

        </form>

      {% else %}

        <div class="alert alert-danger">
          <strong>Problema na recuperação de senha</strong>
          <p class="mensagem-link-invalido">O link para recuperação de senha é inválido, possivelmente porque já foi utilizado. Por favor, solicite a recuperação de senha novamente.</p>
        </div>

        <a href="{% url "dk.principal.views.recuperacao_senha" %}">
          <button class="btn btn-primary btn-sm" type="submit">Recuperar senha</button>
        </a>
        <a href="http://{{ site_url }}">
          <button class="btn btn-primary btn-sm" type="submit">Acessar {{ nome_site }}</button>
        </a>

      {% endif %}

    </div>

  </body>
</html>
