<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recuperação de Senha Completa - {{ nome_site }}</title>

    <link href="/static/login/bootstrap.css" rel="stylesheet">
    <link href="/static/login/recuperacao_senha_concluida.css" rel="stylesheet">
  </head>

  <body>

    <div class="container well">

      <div class="alert alert-success">
        <strong>Recuperação de senha completa</strong>
        <p>Sua senha foi definida. Você pode prosseguir e se autenticar agora.</p>
      </div>

      <a href="{% url "dk.principal.views.login" %}">
        <button class="btn btn-primary btn-sm" type="submit">Autenticar-se</button>
      </a>

    </div>

  </body>
</html>

